<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Game Store</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='dist/output.css') }}">
</head>
<body class="bg-gray-800 rounded-md">

<div class="container mx-auto mt-8 p-6 bg-gray-800 rounded-md">
    <h2 class="text-3xl font-semibold mb-6 text-white">Game Details</h2>

    <div class="bg-gray-700 p-6 rounded-md">
        <h3 class="text-xl font-semibold mb-2 text-white">{{ game_det[1] }}</h3>
        <p class="text-gray-300 mb-2"><strong>Rating:</strong> {{ game_det[2] }}/5</p>
        <p class="text-gray-300 mb-4">{{ game_det[3] }}</p>
        <p class="text-gray-300 mb-4"><strong>Price:</strong> ${{ '{:.2f}'.format(game_det[4]) }}</p>

        {% if session.get('logged_in') %}
        <a href="{{ url_for('confirm_transaction', game_id=game_det[0]) }}" class="text-white bg-pink-500 hover:bg-pink-600 px-4 py-2 rounded-md mr-2">Buy</a>
        {% else %}
        <a href="{{ url_for('login') }}" class="text-white bg-pink-500 hover:bg-pink-600 px-4 py-2 rounded-md mr-2">Buy</a>
        {% endif %}
    </div>

    <div class="bg-gray-700 p-6 rounded-md mt-6">
        <div>
            <h2 class="text-white">Comments</h2>
            {% if comments %}
            <ul>
                {% for comment in comments %}
                <li class="text-gray-300 mb-4">
                    <strong>{{ comment[2] }}:</strong>
                    {{ comment[1] }}
                    <span class="timestamp">{{ comment[3] }}</span>
                    {% if session.get('logged_in') and comment[4] == session.get('id') %}
                    <form method="post">
                        <input type="hidden" name="edit_comment" value="{{ comment[0] }}">
                        <input type="text" name="new_content" placeholder="Enter new content" class="text-black rounded-md border-gray-300 focus:ring-1 focus:ring-pink-500 focus:border-transparent mr-2">
                        <button type="submit" class="bg-pink-500 hover:bg-pink-600 text-white px-2 py-1 mb-2 rounded-md mr-2">Edit</button>
                    </form>
                    <form method="post">
                        <input type="hidden" name="delete_comment" value="{{ comment[0] }}">
                        <button type="submit" class="bg-pink-500 hover:bg-pink-600 text-white px-2 py-1 mb-4 rounded-md mr-2">Delete</button>
                    </form>
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
            {% else %}
            <p class="text-white">No comments available for this game.</p>
            {% endif %}
            {% if session.get('logged_in') %}
            <a href="{{ url_for('add_comment') }}" class="text-white bg-pink-500 hover:bg-pink-600 px-4 py-2 rounded-md mt-4">Add comment</a>
            {% else %}
            <a href="{{ url_for('login') }}" class="text-white bg-pink-500 hover:bg-pink-600 px-4 py-2 rounded-md m-4">Add comment</a>
            {% endif %}
        </div>
    </div>
</div>

</body>
</html>
