<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Game Store</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='dist/output.css') }}"
    />
  </head>

  <body class="bg-gray-800 text-gray-200">
    <div class="max-w-md mx-auto p-6">
      <h1 class="text-3xl font-semibold text-pink-500 mb-6">User Profile</h1>

      <img
        src="{{ user[4] }}"
        alt="Profile Picture"
        class="w-32 h-32 rounded-full mx-auto mb-6"
      />

      <p><strong class="font-semibold">Name:</strong> {{ user[1] }}</p>
      <p><strong class="font-semibold">Email:</strong> {{ user[2] }}</p>
      <p>
        <strong class="font-semibold">Wallet:</strong> ${{
        '{:.2f}'.format(user[5]) }}
      </p>

      <a
        href="{{ url_for('edit_profile') }}"
        class="block w-48 mx-auto mt-8 px-4 py-2 bg-pink-500 text-white rounded-md text-center font-semibold hover:bg-pink-600"
        >Edit Profile</a
      >
    </div>
  </body>
</html>
