<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Game Store</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='dist/output.css') }}"
    />
  </head>

  <body>
    <div>
      <h1>User Profile</h1>
      <img src={{ user[4] }} alt="Profile Picture" />
      <p>Name: {{ user[1] }}</p>
      <p>Email: {{ user[2] }}</p>
      <p>Wallet: ${{ '{:.2f}'.format(user[5]) }}</p>
    </div>
    <a href="{{ url_for('edit_profile') }}">Edit Profile</a>
  </body>
</html>
